@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{background-color: rgba(40, 136, 214, 0.945);}

header > h1 {text-align: center;
    color: white;
    margin: 10px 0px 10px 0px;
}

section{background-color: whitesmoke;
    width: 600px;
    margin: auto;
    box-shadow: 1px 1px 8px black;
    border-radius: 10px; 
}

div {padding: 10px;    
}

#caixa > p {padding-bottom: 10px;}

footer {text-align: center;
    margin-top: 10px;
    color: white;
}



